@model WebMVC.Model.GenricApartment<ListsVM, RentVM, SaleVM, ApartmentVM>
<div class="card">
    <h5 class="card-header">Add New Apartment</h5>
    <div class="card-body">
        <form asp-action="New" asp-controller="Apartment" method="post" enctype="multipart/form-data">
            <partial name="~/Views/Shared/Apartment/_Shared.cshtml" model="Model" />
            <div class="form-row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mb-2">
                    <label for="img" class="col-form-label">Image</label>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="img" name="file">
                        <label class="custom-file-label" for="img" data-browse="Browse">Click here to add file...</label>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mb-2">
                    <label for="installment" class="col-form-label">Installment</label>
                    <input type="checkbox" id="installment" class="custom-checkbox-lg" asp-for="In3.Sale.Installment" />
                </div>
            </div>
            <div class="form-row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <button class="btn btn-danger float-right m-1" type="reset">Reset</button>
                    <button class="btn btn-primary float-right m-1" type="submit">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>