<li class="nav-item dropdown connection">
    <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fas fa-fw fa-th"></i> </a>
    <ul class="dropdown-menu dropdown-menu-right connection-dropdown">
        <li class="connection-list">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                    <a href="#" class="connection-item"><img src="~/images/github.png" alt=""> <span>Github</span></a>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                    <a href="#" class="connection-item"><img src="~/images/dribbble.png" alt=""> <span>Dribbble</span></a>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                    <a href="#" class="connection-item"><img src="~/images/dropbox.png" alt=""> <span>Dropbox</span></a>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                    <a href="#" class="connection-item"><img src="~/images/bitbucket.png" alt=""> <span>Bitbucket</span></a>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                    <a href="#" class="connection-item"><img src="~/images/mail_chimp.png" alt=""><span>Mail chimp</span></a>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                    <a href="#" class="connection-item"><img src="~/images/slack.png" alt=""> <span>Slack</span></a>
                </div>
            </div>
        </li>
        <li>
            <div class="conntection-footer"><a href="#">More</a></div>
        </li>
    </ul>
</li>