<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-header" id="top">
            <h2 class="pageheader-title">The Broker Dashboard</h2>
            <div class="page-breadcrumb">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item alert-light">Dashboard</li>
                        <li class="breadcrumb-item active" aria-current="page">@ViewData["pageName"]</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>