<div class="nav-left-sidebar sidebar-dark">
    <div class="menu-list">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav flex-column">
                    <li class="nav-divider">
                        Menu
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-1" aria-controls="submenu-1"><i class="fas fa-home"></i>Property</a>
                        <div id="submenu-1" class="collapse submenu" style="">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Apartment</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Villa</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Townhouse</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Penthouse</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Chalet</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Twin House</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Duplex</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Full Floor</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Half Floor</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Whole Building</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Land</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Bulk Sale</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Bungalows</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Hotel Apartments</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">I Villa</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-2" aria-controls="submenu-2"><i class="fas fa-user-circle"></i>Customer</a>
                        <div id="submenu-2" class="collapse submenu" style="">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">New Customer</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">All Customers</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Property</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Payments</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Statement</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-3" aria-controls="submenu-3"><i class="fas fa-hand-holding-usd"></i>Payment</a>
                        <div id="submenu-3" class="collapse submenu" style="">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Cash</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Cheque</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-4" aria-controls="submenu-4"><i class="fas fa-clock"></i>Alerts<span class="badge badge-secondary">0</span></a>
                        <div id="submenu-4" class="collapse submenu" style="">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Payments Alert<span class="badge badge-success">0</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Property Alert<span class="badge badge-success">0</span></a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-divider">
                        Expenses
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-5" aria-controls="submenu-5"><i class="fa fa-money-bill-alt"></i>Property Expenses</a>
                        <div id="submenu-5" class="collapse submenu" style="">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Maintenance</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Electricity</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Water</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Sanitation</a>
                                </li>

                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-6" aria-controls="submenu-6"><i class="fa fa-exchange-alt"></i>Miscellaneous</a>
                        <div id="submenu-6" class="collapse submenu" style="">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Executive Expenses</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Transportation</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Other</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-divider">
                        Reports
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-7" aria-controls="submenu-7"><i class="fa fa-chart-area"></i>Property Reports</a>
                        <div id="submenu-7" class="collapse submenu" style="">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Solded Property</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Rented Property</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Empty Property</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-8" aria-controls="submenu-8"><i class="fa fa-chart-bar"></i>Finance Reports</a>
                        <div id="submenu-8" class="collapse submenu" style="">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Received Funds</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Refused Cheques</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>