@using WebMVC.ViewModels
@using WebMVC.Services
@inject IIdentityParser<ApplicationUser> UserManager

<li class="nav-item dropdown nav-user">
    <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="~/images/avatar-1.jpg" alt="" class="user-avatar-md rounded-circle"></a>
    <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
        <div class="nav-user-info">
            
        </div>
        <form asp-area="" asp-controller="Dashboard" asp-action="Logout" method="post" id="logoutForm">
            <a class="dropdown-item" href="#"><i class="fas fa-user mr-2"></i>Account</a>
            <a class="dropdown-item" href="#"><i class="fas fa-cog mr-2"></i>Setting</a>
            <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()"><i class="fas fa-power-off mr-2"></i>Logout</a>
        </form>
    </div>
</li>