@using WebMVC.Model
@model WebMVC.ViewModels.Apartments.ApartmentVM
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-5">
        <div class="tab-outline">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="rent-tab" data-toggle="tab" href="#Rent" role="tab" aria-controls="For Rent" aria-selected="true">Rent</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="sale-tab" data-toggle="tab" href="#Sale" role="tab" aria-controls="For Sale" aria-selected="false">Sale</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="Rent" role="tabpanel" aria-labelledby="rent-tab">
                    
                    <partial name="_ApartmentRent" model="Model.RentVM" />
                </div>
                <div class="tab-pane fade" id="Sale" role="tabpanel" aria-labelledby="sale-tab">
                    
                    <partial name="_ApartmentSale" model="Model.SaleVM" />
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ToastrPartial", (Messages)ViewBag.msg);
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}